<menu class="social-media-share">
    <a href="https://github.com/craftjk" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="https://twitter.com/kcraft88" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="https://linkedin.com/pub/kyle-craft/68/116/9a/" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="https://www.facebook.com/craftjk" class="icon-facebook" rel="external" title="My Facebook"></a>
</menu>